@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-linyr-offWhite text-linyr-charcoal antialiased;
}

a {
  @apply transition-colors duration-200 ease-out;
}
