@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-linyr-offWhite text-linyr-charcoal antialiased font-body;
}

a {
  @apply transition-colors duration-200 ease-out;
}
